// Place all the styles related to the Favs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 button::-moz-focus-inner { border: 0; } /* for Firefox */


.boxfav{width:940px; float:left; margin:10px 0; border:1px solid #e2e2e2; padding:10px 20px; background:#FFF;}


h2 a.titlefav {
  color:#6B7069;
  &:visited {
    color:#6B7069; }
  &:hover {
    color: #0097C0;
 } }



.urlfav a {
  color: #E35D97;
  &:visited {
    color: #E35D97; }
  &:hover {
    color: #fff;
    background-color: #000; } }


.optionsfav a {
  color: #0097C0;
  &:visited {
    color: #0097C0; }
  &:hover {
    color: #6B7069;
   } }


.numberpage {float:right;
color:#333;
font-size:12px
}



.apple_pagination {
float:left;
width:950px;

  #background: #f1f1f1;
  background: #FFF;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
  padding:5px;
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }



.boton3d{
        border:0;
      color: #668428;
        font-size: 14px;
        font-family:sans-serif;
        padding: 8px 15px;
      background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
      -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
      text-shadow: 1px 1px 1px #E1FEA6;
      -moz-box-shadow: 0px 4px 0 #819F45;
        -webkit-box-shadow: 0px 4px 0 #819F45;

    }

 .boton3d:active{
    position:relative;
     top:3px;
    -moz-box-shadow:0px 3px 0 #819F45;
    -webkit-box-shadow:0px 3px 0 #819F45;
    background: -moz-linear-gradient(center top , #A5C956 0%, #CDEB8E 100%) repeat scroll 0 0 transparent;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5c956), color-stop(100%,#cdeb8e));
    }     